---
import { getImage } from 'astro:assets'

import BaseLayout from '~/layouts/base-layout.astro'
import NewsletterForm from '~/components/newsletter-form.astro'
import GridContainer from '~/components/ui/grid-container.astro'

import ResponsiveImage from '~/components/responsive-image.astro'

import {
  goodverse,
  book_good_3,
  book_haunted_2,
  main_background,
} from '~/assets'
import { SITE_TITLE_HOME } from '~/consts'

const optimizedBgImage = await getImage({
  src: main_background,
  format: 'avif',
})
---

<BaseLayout site_title={SITE_TITLE_HOME}>
  <section id='hero-main'>
    <div
      class='relative h-[600px] bg-cover bg-center bg-no-repeat'
      style=`background-image: url(${optimizedBgImage.src})`
    >
      <div
        class='flex h-[600px] items-center justify-center bg-black bg-opacity-50'
        style='background:rgba(0,0,0,0.5);'
      >
        <div
          class='container m-auto flex h-full max-w-7xl items-center justify-center'
        >
          <div class='flex flex-col items-center gap-8 p-6 md:flex-row'>
            <ResponsiveImage
              src={book_haunted_2}
              alt='New Release Book'
              format='avif'
              sizes={[250]}
            />
            <div class='flex w-full flex-col items-center gap-4'>
              <p class='gradient-text text-2xl font-bold'>
                Haunting Good Times
              </p>
              <p>
                Lorem ipsum dolor sit amet, qui minim labore adipisicing minim
                sint cillum sint consectetur cupidatat.
              </p>

              <button
                class='w-32 rounded-full bg-orange-200 px-4 py-2 font-bold text-black hover:bg-primary hover:text-foreground'
              >
                Buy Now
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id='intro-goodverse' class='my-24'>
    <div
      class='container m-auto flex max-w-7xl flex-col items-center space-y-12 p-6'
    >
      <h2 class='text-5xl italic'>EXPLORE THE GOODVERSE</h2>
      <ResponsiveImage
        src={goodverse}
        alt='Image of the Goodverse'
        sizes={[1080]}
      />
    </div>
  </section>

  <section id='intro-new-release'>
    <div class='container m-auto max-w-7xl space-y-12 p-12'>
      <h2 class='text-center text-5xl italic'>New Releases</h2>
      <GridContainer>
        <Fragment slot='section-1'>
          <ResponsiveImage
            src={book_good_3}
            alt='New Release Book'
            format='avif'
            sizes={[576]}
          />
        </Fragment>
        <Fragment slot='section-2'>
          <p class='gradient-text text-2xl font-bold'>Good Times Here</p>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rerum
            facere autem est alias nisi corrupti dicta, a consequuntur
            laboriosam ab ipsa molestiae reiciendis delectus, commodi natus
            adipisci sequi vel? Ipsam.
          </p>
          <p>
            Lorem ipsum dolor sit amet, qui minim labore adipisicing minim sint
            cillum sint consectetur cupidatat.
          </p>
          <p>
            Lorem ipsum dolor sit amet, qui minim labore adipisicing minim sint
            cillum sint consectetur cupidatat.
          </p>
          <p>
            Lorem ipsum dolor sit amet, qui minim labore adipisicing minim sint
            cillum sint consectetur cupidatat.
          </p>

          <button
            class='w-32 rounded-full bg-orange-200 px-4 py-2 font-bold text-black hover:bg-primary hover:text-foreground'
          >
            Buy Now
          </button>
        </Fragment>
      </GridContainer>
    </div>
  </section>

  <section id='intro-contact' class='my-24'>
    <NewsletterForm title='NEWSLETTER' />
  </section>
</BaseLayout>
